<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="namnt_baotinsoftware_com_vnConnectionString" connectionString="Data Source=LAPTOP-TVI0KI0D\SQLEXPRESS;Initial Catalog=namnt_baotinsoftware.com.vn;Persist Security Info=True;User ID=sa;Password=Abc12345"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <!-- Fix Error: Maximum request length exceeded START -->
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" enable="true" requestValidationMode="2.0" />
    <!-- Fix Error: Maximum request length exceeded END -->
    <xhtmlConformance mode="Transitional"/>
    <httpCookies httpOnlyCookies="true"/>
    <trace enabled="false" localOnly="false" />
    <customErrors mode="Off" defaultRedirect="/404.html">
      <error statusCode="403" redirect="/404.html" />
      <error statusCode="404" redirect="/404.html" />
    </customErrors>
    <compilation debug="true" targetFramework="4.5" />
    <machineKey validationKey="E2F0639B4ED6081F31485DBFA0262376AC111705836BFD1105EA7CE9BB2B547EB0C1F53C329085E121403930A111A86E48676553A51AEFE0F0174745E6F4FD2B" decryptionKey="9C7564F0DC7B6C7219A0C44CB009C877896FA6CEC6472530" validation="HMACSHA512" />
    <pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Always" enableViewStateMac="true" />    
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="10485760"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <!-- Fix Error: Maximum request length exceeded START -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="3145728" maxUrl="1048576" maxQueryString="1048576">
          <headerLimits>
            <add header="Content-type" sizeLimit="32768" />
          </headerLimits>
        </requestLimits>
      </requestFiltering>
    </security>
    <!-- Fix Error: Maximum request length exceeded END -->
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <!-- config extension này -->
      <add name="htm" path="*.html" verb="*" type="MyProfile.Class.RewriteAspx" resourceType="Unspecified" preCondition="integratedMode" />
      <!-- cofig này để thumb ảnh-->
      <add name="image" verb="*" preCondition="integratedMode" path="*.img" type="MyProfile.Services.Web.Images.ImageHandler" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>